%h3 About
%p
  = link_to "Howgoodismyfood", root_url, :title => "How good is my food"
  aims to make sense of the nutritional information found on all food packaging.
%p
  After seeing a Channel4 TV program about the food industries behavior towards the labeling of their products
  we decided to make a simple application that displayed the truth about what's in our food, using the
  = link_to "FSA (Food Standards Agency)", "http://www.food.gov.uk"
  traffic light system.

%h3 How?
%p
  The 
  = link_to "FSA traffic light labelling", "http://www.eatwell.gov.uk/foodlabels/trafficlights/"
  provides a clear indiction of the nutritional value of a product. It is designed to be unambiguous and easy to read by the consumer
%p
  In 
  = link_to "howgoodismyfood.com", root_url, :title => "How good is my food"
  you simply enter the product barcode you want to check. 
  If the product is available you'll be displayed the traffic light labeling of the product.
  If the product is not available you'll be prompted with a simple form to complete, and then the labeling can be calculated.
  %b Easy!
%p
  You can use
  = link_to "howgoodismyfood", root_url, :title => "How good is my food"
  from you main computer or from your mobile, for free and without membership!
%h3 Open Source!
%p
  The project is now open source and hosted on 
  = link_to "github", "https://github.com/spyou/howgoodismyfood", :title => "How good is my food source code"
  .You can fork it and contribute to the main project. Contributors will be listed here and on the footer.
%h3 Contact us!
%p
  If you any idea, inquieries about
  = link_to "howgoodismyfood.com main page", root_url, :title => "How good is my food"
  please do not hesitate to contact us on
  = mail_to "developers@howgoodismyfood.com", "developers@howgoodismyfood.com"

