%h3 
  = @product.name
%ul#fsa_results
  %li{:class => @product.fsa[:fat]}
    %span 
      Fat: 
      %em.per
        = "#{@product.per_portion[:fat]}g per serving"
  %li{:class => @product.fsa[:saturate]}
    %span 
      Saturates:
      %em.per
        = "#{@product.per_portion[:saturate]}g per serving"
  %li{:class => @product.fsa[:sugar]}
    %span 
      Sugars:
      %em.per
        = "#{@product.per_portion[:sugar]}g per serving"
  %li{:class => @product.fsa[:salt]}
    %span 
      Salt:
      %em.per
        = "#{@product.per_portion[:sodium]}g per serving"

= link_to "Another search?", root_path,:class => "back"


