!!! XML
!!!
%html
  %head
    %title= h(@page_title)
    / loading stylesheets
    %link{ :rel => "shortcut icon", :href => "/favicon.ico"}
    %meta{:name => "description", :content => @description}

    = stylesheet_link_tag "layout", :media => "screen"
    = stylesheet_link_tag "mobile", :media => "handheld"

    / Loading javascript
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
    = javascript_include_tag "application", :cached => true
  %body{:id => @body_id}
    #wrapper
      #header
        %h1 
          = link_to "How good is my food",root_path
      #content
        = yield
      #carousel
    #footer
      Crafted with love by 
      = link_to "Theo Cushion","http://github.com/theoooo",:target => "blank"
      and 
      = link_to "Nicolas Alpi","http://www.notgeeklycorrect.com",:target => "blank"
      | 
      = link_to "About",:controller => "front", :action => "about"
      | 
      = link_to "Api?", :controller => "front", :action => "api"
=render :partial => "shared/analytics"
